<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>N.A. Wedderburn | Website Style Guide | Component branding</title>
		<link rel="icon" type="image/x-icon" href="/assets/images/logos/nawedderburn_logo_favicon.ico">
<link rel="stylesheet" href="/css/main.css">
	</head>
	
	<body id="page-style-guide-example-display">
		<div class="branding">
      <div class="logo"><a aria-label="N.A. Wedderburn: Web Developer" href="#;" tabindex="-1"><img alt="N.A. Wedderburn: Web Developer Logo" src="/assets/images/logos/nawedderburn_logo_primary.svg"/></a></div>
    </div>
	</body>
</html>