<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>N.A. Wedderburn | Website Style Guide | Component nav-main</title>
		<link rel="icon" type="image/x-icon" href="/assets/images/logos/nawedderburn_logo_favicon.ico">
<link rel="stylesheet" href="/css/main.css">
	</head>
	
	<body id="page-style-guide-example-display">
		<nav class="nav-main">
			<ul>
				<li><a href="#;" tabindex="-1">Option 1</a></li>
				<li><a href="#;" tabindex="-1">Second Option</a></li>
				<li><a href="#;" tabindex="-1">Third Option</a></li>
				<li><a href="#;" tabindex="-1">Option 4</a></li>
				<li><a href="#;" tabindex="-1">Option 5</a></li>
				<li><a href="#;" tabindex="-1">Sixth Option</a></li>
				<li><a href="#;" tabindex="-1">Seventh Option</a></li>
			</ul>
		</nav>
	</body>
</html>